<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- ===== CSS Files ===== -->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body class="body_admin_page dark">
    
    <!-- ===== Main Container Start ===== -->
    <div class="main-container">
        
        <!-- ===== Aside Start ===== -->
        <div class="aside">
            <div class="logo_admin">
                <a href="#"><span>D11</span>Burger</a>
            </div>

            <div class="nav_admin_toggler">
                <span></span>
            </div>

            <ul class="nav_admin">
                <li><a href="#home" class="active"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#admins"><i class="fa fa-user"></i> Admins</a></li>
                <li><a href="#menu_admin"><i class="fa-solid fa-utensils"></i>Menu</a></li>
                <li><a href="#gallery_admin"><i class="fa-solid fa-image"></i></i>Gallery</a></li>
                <li><a href="#about_admin"><i class="fa-solid fa-circle-question"></i>About</a></li>
                <li><a href="#contact2"><i class="fa-solid fa-book-open"></i>Reservations</a></li>
            </ul>

            <!-- ===== Style Switcher Start ===== -->
            <div class="style-switcher">
                <div class="style-switcher-toggler">
                    <div class="day-night">
                        <i class="fas fa-moon"></i>
                    </div>
                </div>
            </div>
            <!-- ===== End of Style Switcher ===== -->

        </div>
        <!-- ===== End of Aside  ===== -->

        
        <!-- ===== Main Content Start ===== -->
        <div class="main-content">

            <!-- ===== Home Section Start ===== -->
            <section class="home active section" id="home">
                <div class="container_admin">
                    <div class="row">

                        <div class="home-info padd-15">
                            <h3 class="hello_admin">Hello, admin <span class="name_admin" id="name_admin_id"></span></h3>
                            <h3 class="my_profession">Welcome back to the <span class="typing_admin">dashboard</span></h3>
                            <p>This is the admin dashboard, where i can manage my restaurant. Here 
                            I can change the menu, change the gallery, check on the reservations and on the other Admins...</p>
                            <a href="/logout" class="btn_admin">Exit Dashboard</a>
                        </div>

                        <div class="home_img_admin padd-15">
                            <img src="images/Tiago_Sousa.jpg" alt="">
                        </div>

                    </div>
                </div>
            </section>
            <!-- ===== End of Home Section ===== -->

            <!-- ===== About Section Start ===== -->
            <div class="menu_admin section" id="about_admin">
                <div class="container_admin">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>About</h2>
                        </div>
                    </div>
                    <div class="row">
                        <% resultados2.forEach(function(resultado) { %>
                            <div class="menu_admin-item padd-15">
                                <div class="menu_admin-item-inner">
                                    <div class="icon_admin">
                                        <img src="<%= resultado.owner_image %>">
                                    </div>
                                    <h4><%= resultado.owner_name %> - <%= resultado.owner_about_descrp %></h4>
                                    <p><%= resultado.owner_about %></p>
                                </div>
                            </div>             
                        <% }); %> 
                    </div>

                    <div class="btn_add_delete_admin">
                        <button class="btn_admin_save_menu" onclick="mostrarForm_Change_About()">Change About</button>
                    </div>

                    <!-- ===== CRUD Forms Change About ===== -->
                    <div id="change_about">
                        <div class="row">
                            <div class="section-title padd-15">
                                <h2>Change About</h2>
                            </div>
                        </div>
                        <h3 class="contact-title_crud">Change the information about the admins</h3>

                        <div class="row">
                            <div class="crud-form padd-15">
                                <form action="/change-about" method="post">
                                    <div class="row">
                                        <div class="form-item col-12 padd-15">
                                            <div class="form-group">
                                                <select class="form-control" name="admin_name_change_about" required>
                                                    <% resultados2.forEach(function(resultado) { %>
                                                        <option><%= resultado.owner_name %></option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                        </div> 
                                    </div>

                                    <div class="row">
                                        <div class="form-item col-12 padd-15">
                                            <div class="form-group">
                                                <textarea class="form-control" name="admin_change_about" placeholder="About Admin" required></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-item col-12 padd-15">
                                            <div class="form-group">
                                                <button type="submit" class="btn_admin">Save About</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                                
                        </div>
                    </div>
                </div>
            </div>
            <!-- ===== End of About Section ===== -->

            <!-- ===== Menu Section Start ===== -->
            <div class="menu_admin section" id="menu_admin">
                <div class="container_admin">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Menu</h2>
                        </div>
                    </div>
                    <div class="row">

                        <!-- ===== Menu Item Start ===== -->
                        <div class="menu_admin-item padd-15">
                            <div class="menu_admin-item-inner">
                                <div class="icon_admin">
                                    <i class="fa-solid fa-martini-glass-citrus"></i>
                                </div>
                                <h4>Bebidas</h4>

                                <% resultados6.forEach(function(resultado) { %>     
                                    <p><%= resultado.ingredients %></p>   
                                <% }); %>

                            </div>
                        </div>

                        <div class="menu_admin-item padd-15">
                            <div class="menu_admin-item-inner">
                                <div class="icon_admin">
                                    <i class="fa-solid fa-bacon"></i>
                                </div>
                                <h4>Acompanhamentos</h4>

                                <% resultados5.forEach(function(resultado) { %>     
                                    <p><%= resultado.ingredients %></p>   
                                <% }); %>

                            </div>
                        </div>

                        <div class="menu_admin-item padd-15">
                            <div class="menu_admin-item-inner">
                                <div class="icon_admin">
                                    <i class="fa-solid fa-ice-cream"></i>
                                </div>
                                <h4>Sobremesas</h4>

                                <% resultados7.forEach(function(resultado) { %>     
                                    <p><%= resultado.ingredients %></p>   
                                <% }); %>
                            </div>
                        </div>

                        <div class="menu_admin-item padd-15">
                            <div class="menu_admin-item-inner">
                                <div class="icon_admin">
                                    <i class="fa-solid fa-burger"></i>
                                </div>
                                <h4>Hamburguers</h4>
                                <p>
                                    <% resultados4.forEach(function(resultado) { %>     
                                        <ul><b><%= resultado.item_sign_name %></b> <%= resultado.ingredients %></ul>      
                                    <% }); %>
                                </p>
                            </div>
                        </div>

                        <div class="btn_add_delete_admin">
                            <button class="btn_admin_change_menu" onclick="mostrarForm_Change_Menu()">Change Menu</button>
                            <button class="btn_admin_change_menu" onclick="mostrarForm_Delete_Menu()">Delete Menu</button>
                        </div>
                    </div>

                    <!-- ===== CRUD Forms Change Menu ===== -->
                    <div id="change_menu">
                        <div class="row">
                            <div class="section-title padd-15">
                                <h2>Change Menu</h2>
                            </div>
                        </div>
                        <h3 class="contact-title_crud">Add elements to the menu</h3>
    
                        <div class="row">
                            <div class="crud-form padd-15">
                                <form action="/change-menu" method="post">
                                    <div class="row">
                                        <div class="form-item col-6 padd-15">
                                            <div class="form-group">
                                                <select class="form-control" id="select_option" name="menu_item_name" onchange="OcultarInputForm()" required>
                                                    <option class="form-control">Acompanhamentos</option>
                                                    <option value="Hamburger" class="form-control">Hamburger</option>
                                                    <option class="form-control">Bebidas</option>
                                                    <option class="form-control">Sobremesas</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div id="input_hidden" class="form-item col-6 padd-15 hidden_form">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="menu_item_sign_name" placeholder="Signature Name (Ex: D11)">
                                            </div>
                                        </div>

                                        <div class="form-item col-12 padd-15">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="menu_ingredients" placeholder="Ingredients" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-item col-12 padd-15">
                                            <div class="form-group">
                                                <button type="submit" class="btn_admin">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                                
                        </div>
                    </div>
                </div>

                <!-- ===== CRUD Forms Delete Menu ===== -->
                <div id="delete_menu">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Delete Menu</h2>
                        </div>
                    </div>
                    <h3 class="contact-title_crud">Delete elements from the menu</h3>

                    <div class="row">
                        <div class="crud-form padd-15">
                            <form action="/admin/formDeleteMenu" method="post">
                                <div class="row">
                                    <div class="form-item col-6 padd-15">
                                        <div class="form-group">
                                            <select class="form-control" id="first_select_formDeleteMenu" name="menu_item_name" onchange="updateSecondSelect('formDeleteMenu')" required>
                                                <option value="Acompanhamentos" class="form-control">Acompanhamentos</option>
                                                <option value="Hamburger" class="form-control">Hamburger</option>
                                                <option value="Bebidas" class="form-control">Bebidas</option>
                                                <option value="Sobremesas" class="form-control">Sobremesas</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-item col-6 padd-15">
                                        <div class="form-group">
                                            <select class="form-control" id="second_select_formDeleteMenu" name="menu_ingredients" required></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-item col-12 padd-15">
                                        <div class="form-group">
                                            <button type="submit" class="btn_admin">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                            
                    </div>
                </div>


            </div>
            <!-- ===== End of Menu Section ===== -->

            <!-- ===== Gallery Section Start ===== -->
            <div class="gallery_admin section" id="gallery_admin">
                <div class="container_admin">

                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Gallery:</h2>
                        </div>
                    </div>

                    <div class="row">
                        <!-- ===== Gallery Items ===== -->

                        <% resultados3.forEach(function(resultado) { %>
                            <div class="gallery_admin-item padd-15">
                                <div class="gallery_admin-item-inner shadow-dark">
                                    <div class="gallery-img">
                                        <img src="<%= resultado.path_url %>" alt="">
                                    </div>
                                </div>
                            </div>           
                        <% }); %>
                    </div>

                    <div class="btn_add_delete_admin">
                        <button class="btn_admin_change_menu" onclick="mostrarForm_Add_Image()">Add Image</button>
                        <button class="btn_admin_change_menu" onclick="mostrarForm_Delete_Image()">Delete Image</button>
                    </div>

                    <!-- ===== CRUD Forms Add Image ===== -->
                    <div id="add_image">
                        <div class="row">
                            <div class="section-title padd-15">
                                <h2>Add Image</h2>
                            </div>
                        </div>
                        <h3 class="contact-title_crud">Add Images to the gallery</h3>

                        <div class="row">
                            <div class="crud-form padd-15">
                                <form action="/add-image" method="post">
                                    <div class="row">
                                        <div class="form-item col-12 padd-15">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="gallery_add_image" placeholder="Path (Ex: images/image_example.png)">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-item col-12 padd-15">
                                            <div class="form-group">
                                                <button type="submit" class="btn_admin">Add Image</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                                
                        </div>
                    </div>

                    <!-- ===== CRUD Forms Delete Image ===== -->
                    <div id="delete_image">
                        <div class="row">
                            <div class="section-title padd-15">
                                <h2>Delete Image</h2>
                            </div>
                        </div>
                        <h3 class="contact-title_crud">Delete Images from the gallery</h3>

                        <div class="row">
                            <div class="crud-form padd-15">
                                <form action="/delete-image" method="post">
                                    <div class="row">
                                        <div class="form-item col-12 padd-15">
                                            <div class="form-group">
                                                <select class="form-control" name="gallery_delete_image" required>
                                                    <% resultados3.forEach(function(resultado) { %>
                                                        <option><%= resultado.path_url %></option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                        </div>           
                                    </div>

                                    <div class="row">
                                        <div class="form-item col-12 padd-15">
                                            <div class="form-group">
                                                <button type="submit" class="btn_admin">Delete Image</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                                
                        </div>
                    </div>

                </div>
            </div>
            <!-- ===== End of Gallery Section ===== -->


            <!-- ===== Admin Section Start ===== -->
            <div class="menu_admin section" id="admins">
                <div class="container_admin">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Administrators</h2>
                        </div>
                    </div>

                    <div class="row">
                        <!-- ===== Admin Section Item ===== -->

                        <% resultados2.forEach(function(resultado) { %>
                            <div class="menu_admin-item padd-menu">
                                <div class="menu_admin-item-inner">
                                    <div class="icon_admin">
                                        <img src="<%= resultado.owner_image %>">
                                    </div>
                                    <h4><%= resultado.owner_name %></h4>
                                    <p>Username: <%= resultado.owner_user_name %></p>
                                </div>
                            </div>                
                        <% }); %> 

                        <div class="btn_add_delete_admin">
                            <button class="btn_admin_change_menu" onclick="mostrarForm_Add_Admin()">Add Admin</button>
                            <button class="btn_admin_change_menu" onclick="mostrarForm_Delete_Admin()">Delete Admin</button>
                        </div>
                    </div>


                    <!-- ===== CRUD Forms Add Admin ===== -->
                    <div id="add_admin">
                        <div class="row">
                            <div class="section-title padd-15">
                                <h2>Add Admin</h2>
                            </div>
                        </div>
                        <h3 class="contact-title_crud">This information will be uploaded to the website</h3>
    
                        <div class="row">
                            <div class="crud-form padd-15">
                                <form action="/add-admin" method="post">
                                    <div class="row">
                                        <div class="form-item col-12 padd-15">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="admin_name" placeholder="Name" required>
                                            </div>
                                        </div>

                                        <div class="form-item col-6 padd-15">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="admin_username" placeholder="Username" required>
                                            </div>
                                        </div>

                                        <div class="form-item col-6 padd-15">
                                            <div class="form-group">
                                                <input type="password" id="confirmarPasswd_add_admin" class="form-control" name="admin_passwd" placeholder="Password" required>
                                            </div>
                                        </div>

                                        <div class="form-item col-6 padd-15">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="admin_image" placeholder="Admin Image (write the path)" required>
                                            </div>
                                        </div>

                                        <div class="form-item col-6 padd-15">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="admin_about_descrip" placeholder="Admin main description" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-item col-12 padd-15">
                                            <div class="form-group">
                                                <textarea class="form-control" name="admin_about" placeholder="About Admin" required></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-item col-12 padd-15">
                                            <div class="form-group">
                                                <button type="submit" class="btn_admin">Submit Admin</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                                
                        </div>
                    </div>

                    <!-- ===== CRUD Forms Delete Admin ===== -->
                    <div id="delete_admin">
                        <div class="row">
                            <div class="section-title padd-15">
                                <h2>Delete Admin</h2>
                            </div>
                        </div>
                        <h3 class="contact-title_crud">Select the name and username of the administrator to be deleted.</h3>
    
                        <div class="row">
                            <div class="crud-form padd-15">
                                <form action="/delete-admin" method="post">
                                    <div class="row">         
                                        <div class="form-item col-12 padd-15">
                                            <div class="form-group">
                                                <select class="form-control" name="admin_username" required>
                                                    <% resultados2.forEach(function(resultado) { %>
                                                        <option><%= resultado.owner_user_name %></option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                        </div> 
                                    </div>

                                    <div class="row">
                                        <div class="form-item col-12 padd-15">
                                            <div class="form-group">
                                                <button type="submit" class="btn_admin">Delete Admin</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                                
                        </div>
                    </div>

                </div>
            </div>


            <!-- ===== Reservation Start ===== -->

            <section class="contact section" id="contact2">
                <div class="container_admin">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Reservas</h2>
                        </div>

                        <div class="home-info padd-15">
                            
                            <ul>
                                <% resultados1.forEach(function(resultado) { %>
                                    <li>
                                        <strong>Nome:</strong> <%= resultado.first_name %> <strong></strong> <%= resultado.last_name %>
                                        <strong>Email:</strong> <%= resultado.email %>
                                        <strong>Data da reserva:</strong> <%= resultado.date_reserva %>
                                        <strong>Hora da reserva:</strong> <%= resultado.time_reserva %>
                                        <strong>Número de Pessoas:</strong> <%= resultado.number_of_people %><br><br>
                                    </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </div>    
            </section>
            <!-- ===== End of Resrvation Section ===== -->
        </div>
    </div>
    <!-- ===== End of Main Container ===== -->

    <!-- ===== JavaScript Files ===== -->
    <script src="./scripts/admin_script.js"></script>
</body>
</html>