<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- ===== CSS Files ===== -->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body class="body_admin_page dark">
    
    <!-- ===== Main Container Start ===== -->
    <div class="main-container">
        
        <!-- ===== Aside Start ===== -->
        <div class="aside">
            <div class="logo_admin">
                <a href="#"><span>D11</span>Burger</a>
            </div>

            <div class="nav_admin_toggler">
                <span></span>
            </div>

            <ul class="nav_admin">
                <li><a href="#home" class="active"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#admins"><i class="fa fa-user"></i> Admins</a></li>
                <li><a href="#menu_admin"><i class="fa-solid fa-utensils"></i>Menu</a></li>
                <li><a href="#gallery_admin"><i class="fa-solid fa-image"></i></i>Gallery</a></li>
                <li><a href="#about_admin"><i class="fa-solid fa-circle-question"></i>About</a></li>
                <li><a href="#contact2"><i class="fa-solid fa-book-open"></i>Reservations</a></li>
            </ul>

            <!-- ===== Style Switcher Start ===== -->
            <div class="style-switcher">
                <div class="style-switcher-toggler">
                    <div class="day-night">
                        <i class="fas fa-moon"></i>
                    </div>
                </div>
            </div>
            <!-- ===== End of Style Switcher ===== -->

        </div>
        <!-- ===== End of Aside  ===== -->

        
        <!-- ===== Main Content Start ===== -->
        <div class="main-content">

            <!-- ===== Home Section Start ===== -->
            <section class="home active section" id="home">
                <div class="container_admin">
                    <div class="row">

                        <div class="home-info padd-15">
                            <h3 class="hello_admin">Hello, admin <span class="name_admin" id="name_admin_id"></span></h3>
                            <h3 class="my_profession">Welcome back to the <span class="typing_admin">dashboard</span></h3>
                            <p>This is the admin dashboard, where i can manage my restaurant. Here 
                            I can change the menu, change the gallery, check on the reservations and on the other Admins...</p>
                            <a href="#" class="btn_admin" onclick= "location.href='/login';">Exit Dashboard</a>
                        </div>

                        <div class="home_img_admin padd-15">
                            <img src="images/Tiago_Sousa.jpg" alt="">
                        </div>

                    </div>
                </div>
            </section>
            <!-- ===== End of Home Section ===== -->

            <!-- ===== About Section Start ===== -->
            <div class="menu_admin section" id="about_admin">
                <div class="container_admin">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>About</h2>
                        </div>
                    </div>
                    <div class="row">
                        
                        <!-- This is the man who keeps the ship steady. With a knack for numbers and a heart
                                    for sustainability, he ensures that BURGUER D11 not only serves top quality burgers
                                    but does so with a mindful approach to business. -->
                        <!-- ===== About Item Start ===== -->

                        <% resultados2.forEach(function(resultado) { %>
                            <div class="menu_admin-item padd-15">
                                <div class="menu_admin-item-inner">
                                    <div class="icon_admin">
                                        <img src="<%= resultado.owner_image %>">
                                    </div>
                                    <h4><%= resultado.owner_name %> - <%= resultado.owner_about_descrp %></h4>
                                    <p><%= resultado.owner_about %></p>
                                </div>
                                <button class="btn_admin_change_about">Change</button>
                                <button class="btn_admin_save_about">Save</button>
                            </div>             
                        <% }); %> 




                        <!-- <div class="menu_admin-item padd-15">
                            <div class="menu_admin-item-inner">
                                <div class="icon_admin">
                                    <img src="images/Tiago_Sousa.jpg">
                                </div>
                                <h4>TIAGO SOUSA - BUSINESS STRATEGIST</h4>
                                <p id="about_admin_id">
                                </p>
                            </div>
                            <button class="btn_admin_change_about">Change</button>
                            <button class="btn_admin_save_about">Save</button>
                        </div>

                        <div class="menu_admin-item padd-15">
                            <div class="menu_admin-item-inner">
                                <div class="icon_admin">
                                    <img src="images/Rodrigo_Anjos.jpg">
                                </div>
                                <h4>RODRIGO ANJOS - CREATIVE SOUL</h4>
                                <p>Meet Rodrigo, the creative force behind BURGER D11. With an artistic eye, he is
                                    the one who transforms your experience into more than just a meal. From designing
                                    the menu, decorating the restaurant, he delivers a warm and inviting atmosphere.
                                </p>
                            </div>
                            <button class="btn_admin_change_about">Change</button>
                            <button class="btn_admin_save_about">Save</button>
                        </div>

                        <div class="menu_admin-item padd-15">
                            <div class="menu_admin-item-inner">
                                <div class="icon_admin">
                                    <img src="images/Tiago_Lança.jpg">
                                </div>
                                <h4>TIAGO LANÇA - CHEF AND BURGER ENTHUSIAST </h4>
                                <p>Meet the chef of BURGER D11, his love for burgers originated in his kitchen with all
                                    kinds of experiments, and keeps getting bigger. His enthusiasm to discover new and
                                    better recipes is on fire. He delivers top quality and tasty burgers to everyone.
                                </p>
                            </div>
                            <button class="btn_admin_change_about">Change</button>
                            <button class="btn_admin_save_about">Save</button>
                        </div>

                        <div class="menu_admin-item padd-15">
                            <div class="menu_admin-item-inner">
                                <div class="icon_admin">
                                    <img src="images/Daniel_Martins.jpg">
                                </div>
                                <h4>DANIEL MARTINS - GRILL EXPERT</h4>
                                <p>Daniel knows his way around the grill like no one else. His commitment to achieving
                                    the perfect sear and crafting the juiciest burgers for a consistently delicious experience.
                                </p>
                            </div>
                            <button class="btn_admin_change_about">Change</button>
                            <button class="btn_admin_save_about">Save</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- ===== End of About Section ===== -->

            <!-- ===== Menu Section Start ===== -->
            <div class="menu_admin section" id="menu_admin">
                <div class="container_admin">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Menu</h2>
                        </div>
                    </div>
                    <div class="row">

                        <!-- ===== Menu Item Start ===== -->
                        <div class="menu_admin-item padd-15">
                            <div class="menu_admin-item-inner">
                                <div class="icon_admin">
                                    <i class="fa-solid fa-burger"></i>
                                </div>
                                <h4>Hamburguers</h4>
                                <p>
                                    <% resultados4.forEach(function(resultado) { %>     
                                        <ul><b><%= resultado.item_sign_name %></b> <%= resultado.ingredients %></ul>      
                                    <% }); %>
                                </p>
                            </div>
                            <button class="btn_admin_change_menu">Change</button>
                            <button class="btn_admin_save_menu">Save</button>
                        </div>

                        <div class="menu_admin-item padd-15">
                            <div class="menu_admin-item-inner">
                                <div class="icon_admin">
                                    <i class="fa-solid fa-bacon"></i>
                                </div>
                                <h4>Acompanhamentos</h4>

                                <% resultados5.forEach(function(resultado) { %>     
                                    <p><%= resultado.ingredients %></p>   
                                <% }); %>

                            </div>
                            <button class="btn_admin_change_menu">Change</button>
                            <button class="btn_admin_save_menu">Save</button>
                        </div>

                        <div class="menu_admin-item padd-15">
                            <div class="menu_admin-item-inner">
                                <div class="icon_admin">
                                    <i class="fa-solid fa-martini-glass-citrus"></i>
                                </div>
                                <h4>Bebidas</h4>

                                <% resultados6.forEach(function(resultado) { %>     
                                    <p><%= resultado.ingredients %></p>   
                                <% }); %>

                            </div>
                            <button class="btn_admin_change_menu">Change</button>
                            <button class="btn_admin_save_menu">Save</button>
                        </div>

                        <div class="menu_admin-item padd-15">
                            <div class="menu_admin-item-inner">
                                <div class="icon_admin">
                                    <i class="fa-solid fa-ice-cream"></i>
                                </div>
                                <h4>Sobremesas</h4>

                                <% resultados7.forEach(function(resultado) { %>     
                                    <p><%= resultado.ingredients %></p>   
                                <% }); %>

                            </div>
                            <button class="btn_admin_change_menu">Change</button>
                            <button class="btn_admin_save_menu">Save</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ===== End of Menu Section ===== -->

            <!-- ===== Gallery Section Start ===== -->
            <div class="gallery_admin section" id="gallery_admin">
                <div class="container_admin">

                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Gallery:</h2>
                        </div>
                    </div>

                    <div class="row">
                        <!-- ===== Gallery Items ===== -->

                        <% resultados3.forEach(function(resultado) { %>
                            <div class="gallery_admin-item padd-15">
                                <div class="gallery_admin-item-inner shadow-dark">
                                    <div class="gallery-img">
                                        <img src="<%= resultado.path_url %>" alt="">
                                    </div>
                                </div>
                                <button class="btn_admin_change_menu">Change</button>
                                <button class="btn_admin_save_menu">Save</button>
                            </div>           
                        <% }); %>
                    </div>
                </div>
            </div>
            <!-- ===== End of Gallery Section ===== -->


            <!-- ===== Admin Section Start ===== -->
            <div class="menu_admin section" id="admins">
                <div class="container_admin">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Administrators</h2>
                        </div>
                    </div>

                    <div class="row">
                        <!-- ===== Admin Section Item ===== -->

                        <% resultados2.forEach(function(resultado) { %>
                            <div class="menu_admin-item padd-menu">
                                <div class="menu_admin-item-inner">
                                    <div class="icon_admin">
                                        <img src="<%= resultado.owner_image %>">
                                    </div>
                                    <h4><%= resultado.owner_name %></h4>
                                    <p>Username: <%= resultado.owner_user_name %></p>
                                </div>
                                <button class="btn_admin_change_menu">Change Password</button>
                            </div>                
                        <% }); %> 

                        <div class="btn_add_delete_admin">
                            <button class="btn_admin_change_menu">Add Admin</button>
                            <button class="btn_admin_change_menu">Delete Admin</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ===== Resrvation Start ===== -->

            <section class="contact section" id="contact2">
                <div class="container_admin">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Reservas</h2>
                        </div>

                        <div class="home-info padd-15">
                            
                            <ul>
                                <% resultados1.forEach(function(resultado) { %>
                                    <li>
                                        <strong>Nome:</strong> <%= resultado.first_name %> <strong></strong> <%= resultado.last_name %>
                                        <strong>Email:</strong> <%= resultado.email %>
                                        <strong>Data da reserva:</strong> <%= resultado.date_reserva %>
                                        <strong>Hora da reserva:</strong> <%= resultado.time_reserva %>
                                        <strong>Número de Pessoas:</strong> <%= resultado.number_of_people %><br><br>
                                    </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </div>    
            </section>
            <!-- ===== End of Resrvation Section ===== -->
        </div>
    </div>
    <!-- ===== End of Main Container ===== -->

    <!-- ===== JavaScript Files ===== -->
    <script src="./scripts/admin_script.js"></script>
</body>
</html>